NEXT_PUBLIC_SUPABASE_URL=https://hclzuxyjztvuitvspviy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_rLtXUyGOUmwV2VxrIdc6Eg_WkKhnY2_
# NEXT_PUBLIC_SUPABASE_URL=sb_publishable_rLtXUyGOUmwV2VxrIdc6Eg_WkKhnY2_
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjbHp1eHlqenR2dWl0dnNwdml5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkwMTA5NjgsImV4cCI6MjA3NDU4Njk2OH0.KvTnTB7ji4ULf4VnG-zi6SH2Y0a0GMR-sLUBsSrklYI
ANTHROPIC_API_KEY=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